.invoice {
  width: 302px !important;
  background-color: var(--white-color);
  padding: 6px !important;
  height: auto;
}

.invoice .header {
  text-align: center;
}

.invoice .footer {
  text-align: center;
}

.invoice hr {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  border-bottom: 1px solid #b9b8b8 !important;
  border-bottom-style: dashed !important;
}

.invoice .header h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 16px !important;
  font-weight: bold;
  margin-bottom: 3px;
}

.invoice .header h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 14px !important;
  margin-bottom: 3px;
}

.invoice div {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 14px !important;
  margin-bottom: 3px;
}

.invoice .content-total-invoice {
  display: flex;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 14px !important;
  margin-bottom: 3px;
}

.table-invoice > thead {
  background: var(--white-color) !important;
  color: var(--black-color) !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 12px !important;
  text-align: center !important;
  border: none !important;
}

.table-invoice th:first-child,
.table-invoice td:first-child {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.table-invoice > thead th {
  border-bottom: none !important;
}
.table-invoice th,
.table-invoice td {
  padding: 0.1rem;
}

.table-invoice > tbody {
  background: var(--white-color) !important;
  color: var(--black-color) !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 12px !important;
  border: none !important;
  text-align: center;
}

.table-invoice > tbody tr td:first-child,
.table-invoice > tbody tr td:last-child {
  text-align: left;
}

.gesti {
  font-size: 16px !important;
  font-weight: bold !important;
  margin-bottom: 3px !important;
}
.thanks {
  font-size: 16px !important;
  font-weight: bold !important;
  margin-bottom: 3px !important;
  margin-top: 20px;
}

.footer .seller {
  max-width: 300px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.footer .date {
  text-align: left;
}